body {
    margin: 0px;
    padding: 0px;
    background: #222222;
    color: white;
    overflow: hidden;
    font-family: 'Share Tech Mono', monospace;
}
.table {
  display: flex;
  align-items: center;
  margin-top: 200px;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow:auto ;
}
.deck {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.card {
  width: 180px;
  height: 240px;
  margin: 1em;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.33);
}
.card-inner{
    font-size: 17px;
}
.card-title{
    font-size: 20px;
    margin-bottom: 1em;
}

.card-title:before {
    color: #F7ABA9;
    content: ":: ";
}

#entry:before {
    color: #F7ABA9;
    content: "┣   ";
}
#last:before {
    color: #F7ABA9;
    content: "┗   ";
}
#search {
    margin-bottom: 100px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;

}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #F7ABA9;
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
}
a:hover:before {
    font-style: normal;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

input {
  margin-top: 10px;
  padding: 12px 20px;
  border: none;
  background-color: #222222;
  color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.33);
    font-family: 'Share Tech Mono', monospace;
}
::placeholder {
  color: white;
  opacity: 1;
}