html{
    min-height: 100%;
    }
body {
    --font-size: 13px;
    --color-text: #ffffff; 
    --color-highlight: #ffc5c4; /* #daa44f is nice too*/
    --color-bg: #171717;
    --color-card-fg: #313131;
    --color-card-bg: #131313; 
    --color-card-shadow: #000000AA;

    
    
    margin: 0px;
    /* background-image: linear-gradient(var(--color-bg), pink); */
    background-color: var(--color-bg) ;
    background-size: cover;
    color: var(--color-text);
    overflow: visible;
    font-family: 'Roboto Mono', monospace;
    font-style: bold;
}
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.deck {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
}

.card {
    margin: 20px;
    width: 220px;
    height: 250px;
    background: var(--color-card-bg);
    border-width: 4px 4px 20px 4px;
    border-style: solid;
    border-color: var(--color-card-fg);
    box-shadow: 20px 20px 0px var(--color-card-shadow);
    transition: transform .2s;
    
}
.card:hover {
    transform: scale(1.1);
}


.card-inner {
    margin: 5px;
    transition: transform .2s;
    /* border: 1px solid var(--color-text); */
    font-size: var(--font-size);
    padding: 10px;
    padding-top: 5px;
}

.card-title{
    position: relative;
    /* top: -9px; */
    font-size: var(--font-size);
    margin: 0px;
    margin-bottom: 9px;
    text-align: left;
    font-weight:bold;
    font-style: italic;
    width: auto;
}
.card-title span{
    background: var(--color-card-bg);
}
.card-title span:before{
    content: "[ ";
}
.card-title span:after{
    content: " ]";
}

.joker {
    background-image: url("https://anime-girls-holding-programming-books.netlify.app/static/Murakami_Shiina_Holding_Computer_C_Programming_Language-de50ab96ebd3bb4272f73d4d053f50eb.png");
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-color: #ffc5c4;
}

.no-border {
    border: none;
}

#search {
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    border-radius: 0;
}
#searchbar {
    width: 80%;
    max-width: 520px;
    min-width: 180px;
    transition: transform .2s;
}
#searchbar:hover {
    transform: scale(1.1);
}

a:link {
    color: var(--color-text);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: var(--color-text);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: var(--color-card-bg);
    background-color: var(--color-highlight);
    text-decoration: none;
}
a:focus {
    color: var(--color-card-bg);
    background-color: var(--color-text);
    text-decoration: none;
}
a::selection {
    color: var(--color-card-bg);
    background-color: var(--color-text);
    text-decoration: none;
}   


a:active {
    color: var(--color-text);
    background-color: transparent;
    text-decoration: none;
}

input {
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    background-color: var(--color-card-bg);
    box-shadow: 20px 20px 0px var(--color-card-shadow);
    color: var(--color-text);
    font-family: 'Roboto Mono', monospace;
    font-size: var(--font-size);
}
::placeholder {
    color: var(--color-text);
    opacity: 1;
}
