body {
    margin: 0px;
    padding: 0px;
    background: #222222;
    color: white;
    overflow: hidden;
}
.table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow:auto ;
}
.deck {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.card {
  width: 180px;
  height: 230px;
  margin: 2em;
  overflow: hidden;
}
.card-inner{
    font-size: 17px;
}
.card-title{
    font-size: 20px;
    margin-bottom: 1em;
}
.card-music {
  width: 424px;
}
.center-text {
  text-align: center;
  margin-top: 30px !important;
  height: auto;
}


.card-title:before {
    color: #F7ABA9;
    content: "░ ";
}

#entry:before {
    color: #F7ABA9;
    content: "┣   ";
}
#last:before {
    color: #F7ABA9;
    content: "┗   ";
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;

}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #F7ABA9;
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
}
a:hover:before {
    font-style: normal;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}